name: Docker Image CI

on:
  create:
  push:
    branches: [master]
    paths: 
      - '.github/actions/*/action.yml'
      - '.github/workflows/docker-image-ci.yml'
      - '*/Dockerfile'
  pull_request:
    paths:
      - '.github/actions/*/action.yml'
      - '.github/workflows/docker-image-ci.yml'
      - '*/Dockerfile'

env:
  CONTAINER_REPOSITORIES: '["norionomura/swiftlint", "ghcr.io/norio-nomura/swiftlint"]'

jobs:

  build-latest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - swift_version: 5.8.0
            swift_version_aliases: ["5", "5.8"]
    env:
      LOAD: true
      PUSH: false
      SWIFTLINT_REVISION: 0.50.0

    steps:
    - uses: actions/checkout@v3

    - if: github.event_name == 'create' && github.event.ref_type == 'tag'
      run: |
        echo "LOAD=false" >> $GITHUB_ENV
        echo "PUSH=true" >> $GITHUB_ENV
        echo "SWIFTLINT_REVISION=${{ github.event.ref }}" >> $GITHUB_ENV

    - id: tags_for_latest
      uses: ./.github/actions/tags_for_latest
      with:
        repositories: ${{ env.CONTAINER_REPOSITORIES }}
        swift_version: ${{ toJSON(matrix.swift_version) }}
        swift_version_aliases: ${{ toJSON(matrix.swift_version_aliases) }}
        swiftlint_revision: ${{ toJSON(env.SWIFTLINT_REVISION) }}

    - run: echo "${{ steps.tags_for_latest.outputs.tags }}"

    - uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: norionomura
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: docker/build-push-action@v3
      with:
        build-args: |
          BUILDER_IMAGE=swift:5.7.1-jammy
          RUNTIME_IMAGE=swift:${{ matrix.swift_version }}-jammy
          SWIFTLINT_REVISION=${{ env.SWIFTLINT_REVISION }}
        context: builder
        load: ${{ env.LOAD }}
        push: ${{ env.PUSH }}
        tags: ${{ steps.tags_for_latest.outputs.tags }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - run: >
        docker run norionomura/swiftlint:${{ env.SWIFTLINT_REVISION }} 
        archive-swiftlint-runtime > swiftlint_linux.tar.gz

    - uses: actions/upload-artifact@v3
      with:
        name: swiftlint
        path: swiftlint_linux.tar.gz

  push:
    needs: build-latest
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        swift_version: ['5.7.0', '5.7.1', '5.7.2', '5.7.3']
        include:
          - swift_version: '5.7.3'
            swift_version_aliases: ["5.7"]
    env:
      PUSH: false
      SWIFTLINT_REVISION: 0.50.0
 
    steps:
    - uses: actions/checkout@v3

    - uses: actions/download-artifact@v3
      with:
        name: swiftlint
        path: copier

    - if: github.event_name == 'create' && github.event.ref_type == 'tag'
      run: |
        echo "PUSH=true" >> $GITHUB_ENV
        echo "SWIFTLINT_REVISION=${{ github.event.ref }}" >> $GITHUB_ENV

    - id: tags_for_older
      uses: ./.github/actions/tags_for_older
      with:
        repositories: ${{ env.CONTAINER_REPOSITORIES }}
        swift_version: ${{ toJSON(matrix.swift_version) }}
        swift_version_aliases: ${{ toJSON(matrix.swift_version_aliases) }}
        swiftlint_revision: ${{ toJSON(env.SWIFTLINT_REVISION) }}

    - run: echo "${{ steps.tags_for_older.outputs.tags }}"

    - uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: norionomura
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: docker/build-push-action@v3
      with:
        build-args: |
          RUNTIME_IMAGE=swift:${{ matrix.swift_version }}-jammy
        context: copier
        push: ${{ env.PUSH }}
        tags: ${{ steps.tags_for_older.outputs.tags }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
